<div id="<%= dom_id parte %>">
  <p>
    <strong>Name:</strong>
    <%= parte.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= parte.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= parte.color_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= parte.brand_id %>
  </p>

</div>
